#sixthPage {
    height: 70vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; /* Adjust as needed */
    justify-content: center;
    align-items: center;
}

/* Style each cell */
#sixthPage > div {
    border: 2px solid black;
    box-shadow: 5px 5px aqua;
    padding: 20px;
    text-align: center;}