#seventhPage {
    top: 600vh;
    height: 100vh;
    width: 100vw;
    background-color: aqua ;
}
.rectangle7Page {
    height: 100px;
    width: 600px;
    background-color: black;
    color: white; /* Set text color to white for better visibility */
    padding: 20px; /* Add some padding for spacing */
    margin-bottom: 20px; /* Add margin bottom for spacing between rectangles */
}
#leftRectangle7Page {
    height: 100px;
    width: 600px;
    background-color: black;
    color: white; /* Set text color to white for better visibility */
    padding: 20px; /* Add some padding for spacing */
    margin-bottom: 20px; /* Add margin bottom for spacing between rectangles */
}
footer {
    text-align: center;
    color: white;
}

footer nav {
    display: inline-block;
}

footer nav a {
    display: inline-block;
    margin: 0 10px; /* Adjust margin as needed */
}
footer nav a i {
    font-size: 30px;
}

footer p {
    margin-top: 20px; /* Add some margin space */
}
#blackBar {
    background-color: #252525;
}
#greyBar {
    background-color: darkslategrey;
}
