#fourthPage {
    top: 400vh;
    /*background-color: chartreuse;*/
    height: 80vh;
    width: 100%;
    font-family: "Samsung Sans", serif;
    color: white;
    /*position: absolute;*/
}
#Education{
    position: absolute;
    text-align: left;
    color: #252525;
}
.container {
    display: flex;
    justify-content: center;
}
.img {
    width: 50px;
}

.box {
    width: 80%;
    height: 80px;
    border: 1px solid black;
    border-bottom-width: 3px;
    background-color: rgba(72, 80, 77, 0.14); /* Example background color */
    transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
    position: relative; /* Required for shadow position */
    margin-bottom: 20px; /* Add some space between the boxes */
}

.box1:hover {
    animation: fadeIn 0.5s forwards; /* Apply fade in animation on hover */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Example shadow */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    /*border: 1px solid black; !* border for the entire grid container *!*/
    width: 100%; /* Set the width to 100% */
    position: relative; /* Add position relative */
    top: 50%; /* Move 50% from the top */
    left: 50%; /* Move 50% from the left */
    transform: translate(-50%, -50%); /* Translate to center */
}


.grid-item {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    /*border-bottom: 1px solid black; !* border for each row *!*/
    min-height: 100px; /* Adjust the minimum height */

}


.grid-item img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.grid-item span {
    font-size: 18px;
    /*border-right: 1px solid black; !* border for each column *!*/
}