#scndPage {
    top: 100vh;
    height: 100vh;
    width: 100vw;
    background-color: aqua ;
}

#scndPage #2ndLeftSide {
    top: 100vh;
    left: 0;
    height: 100vh;
    width: 50vw;
    background-color: #ff0000;
    position: absolute;
}

#scndPage #2ndRightSide {
    top: 100vh;
    right: 0;
    height: 100vh;
    width: 50vw;
    background-color: #ff0000;
    position: absolute;
}

#aboutMeProPic {
    width: 100px;
}
