* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", "Samsung Sans", serif;
}



header {
    /*background: blue;*/
    position: fixed;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    overflow: hidden;
}

header > img {
    width: 6%;
    margin-left: 0px;
}

nav {
    flex-wrap: wrap;
    flex: 1; /* Fill remaining space */
    display: flex;
    justify-content: center;
    overflow: hidden;

}

nav a {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
    display: inline-block;
}

nav a::after {
    content: '';
    width: 0%;
    height: 10%;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s; /* Transition property here */

}
nav a:hover::after {
    width: 100%;
}

nav a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;

}
#toggleBtn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;



}
#sectionPage {
    position: relative;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,141,65,1) 59%, rgba(105,249,171,1) 100%);
}

#leftSide {
    left: 0;
    top: 10%;
    height: 80vh;
    width: 50vw;
    /*background-color:royalblue ;*/
    position: absolute;
}
#rightSide {
    right: 0;
    top: 10%;
    height: 80vh;
    width: 50%;
    /*background-color: #34ea8a;*/
    position: absolute;
}
/*section aside #borderShaper{
    position: absolute;
    top: 50%;
    bottom: 10%;
    right: 1.5%;
    transform: translate(0, -50%);
    height: 60%;
    width: 60%;
    border-radius: 100% 0% 67% 33% / 34% 29% 71% 66% ;
    background-color: #0093ff;

}*/
section aside #proFilePic {
    position: absolute;
    top: 50%;
    right: 1.5%;
    transform: translate(0, -50%);
    /*height: 100%;*/
    width: 330px;
}

#leftSideWords {
    position: absolute;
    top: 30%;
    bottom: 20%;
}
#helloIm {
    top: 0;
    left: 10%;
    position: absolute;
    font-size: 100%;
}
#helloIm .first-word {
    color: #0CAE9B;
}

#helloIm .rest-word {

    color: white; /* Set color for the second word */
    position: absolute;
}

#name {
    top: 10%;
    left: 8%;
    position: relative;
}

#name .first-word {
    font-family: Anek Gurmukhi, sans-serif ;
    font-size: 80px;
    font-weight: bold;
    color: #0CAE9B;
}

#name .rest-word {
    color: white;
    font-size: 20px;
}
#firstPagePara {
    left: 5%;
    bottom: 40%;
    height: 12%;
    width: 92%;
    /*background-color: #22ff00;*/
    position: absolute;
    color: white;
    font-size: 15px;
}
#buttonField {
    left: 40%;
    bottom: 25%;
    height: 12%;
    width: 92%;
    /*background-color: #dd00ff;*/
    position: absolute;
    color: white;
    font-size: 15px;
}
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.btn {
    background-color: #34ea8a;
    border: white;
    font-weight: bold;

}
.btn {
    background-color: #34ea8a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    position: relative;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: rgba(255, 0, 0, 0);
    transition: background-color 0.3s ease;
    color: #252525;
}

.btn:hover::before {
    /*background: #34ea8a;*/
    color: #252525;
}

.btn:hover {
    box-shadow: 0 0 10px #34ea8a;
    text-shadow: 0 0 10px #34ea8a;
    color: #252525;
}
@media screen and (max-width: 320px) {

}



/*
section {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section>aside{
    position: absolute;
    top: 50%;
    right: 1.5%;
    transform: translate(0, -50%);
    height: 80%;
    width: 30%;
    background-color:red ;
}
*/

/*
img{
    position: absolute;
    top: 50%;
    right: 1.5%;
    transform: translate(0, -50%);
    height: 80%;
    width: 30%;
}


*/
@media screen and (max-width: 768px) {
    .logo {
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }

    .nav-links {
        float: none;
        text-align: center;
    }

    .nav-links li {
        display: block;
        margin: 10px 0;
    }

    .burger {
        width: 30px;
        height: 3px;
        background-color: #333;
        margin: 5px;
    }

    #toggleBtn {
        display: block;
        text-align: right;
    }

    #slideMenu {
        display: none;
    }
}
