body{
    /*background-color: black;*/
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 100px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Samsung Sans", "Segoe UI", serif;
}
header div {
    top: 0;
    background: linear-gradient(to bottom, rgba(78, 239, 201, 0.2), rgba(78, 239, 201, 0));
    height: 10vh;
    width: 100%;
}
header>img{
    top: 0;
    left: 0;
    width: 10px;
}
