* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", "Samsung Sans", serif;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    overflow-x: hidden; /* Prevent horizontal scroll */
    background-color: #18181C;
}

header {
    /*background: blue;*/
    position: fixed;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    overflow: hidden;
}

header > img {
    width: 6%;
    margin-left: 0px;
}

nav {
    flex: 1; /* Fill remaining space */
    display: flex;
    justify-content: center;
    overflow: hidden;
}

nav a {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
}

nav a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;

}
#sectionPage {
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,141,65,1) 59%, rgba(105,249,171,1) 100%);
}

#leftSide {
    left: 0;
    top: 10%;
    height: 80vh;
    width: 50%;
    background-color:royalblue ;
    position: absolute;
}
#rightSide {
    right: 0;
    top: 10%;
    height: 80vh;
    width: 50%;
    background-color: #34ea8a;
    position: absolute;
}
/*section aside #borderShaper{
    position: absolute;
    top: 50%;
    bottom: 10%;
    right: 1.5%;
    transform: translate(0, -50%);
    height: 60%;
    width: 60%;
    border-radius: 100% 0% 67% 33% / 34% 29% 71% 66% ;
    background-color: #0093ff;

}*/
section aside img {
    position: absolute;
    top: 50%;
    right: 1.5%;
    transform: translate(0, -50%);
    /*height: 100%;*/
    width: 50%;
}

#leftSideWords {
    position: absolute;
    top: 30%;
    bottom: 20%;
}
#helloIm {
    top: 0;
    left: 10%;
    position: absolute;
    font-size: 100%;
}
#helloIm .first-word {
    color: #0CAE9B;
}

#helloIm .rest-word {

    color: white; /* Set color for the second word */
    position: absolute;
}

#name {
    top: 10%;
    left: 8%;
    position: absolute;
}

#name .first-word {
    font-family: Anek Gurmukhi, sans-serif ;
    font-size: 80px;
    font-weight: bold;
    color: #0CAE9B;
}

#name .rest-word {
    color: white;
    font-size: 20px;
}

section>aside>div>p  {
    top: 40%;
    position: absolute;
    width: 100%;
    background-color: #ff0000;
}


/*
section {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section>aside{
    position: absolute;
    top: 50%;
    right: 1.5%;
    transform: translate(0, -50%);
    height: 80%;
    width: 30%;
    background-color:red ;
}
*/

/*
img{
    position: absolute;
    top: 50%;
    right: 1.5%;
    transform: translate(0, -50%);
    height: 80%;
    width: 30%;
}


*/
