#thirdPage{
    top: 200vh;
    height: 100vh;
    width: 100vw;
    /*background-color: aqua ;*/
}
#leftAsideSkill {
    top: 200vh;
    left: 0;
    height: 100vh; /* Adjusted to 100vh */
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:red ;
    text-align: justify; /* Justify the text content */
    position: absolute;
}
#rightAsideSkill {
    top: 200vh;
    right: 0;
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color:blue ;*/
    text-align: justify; /* Justify the text content */
    position: absolute;
}
#thirdPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tpcMySkills {
    transform: rotate(-90deg);
    text-align: justify;
    white-space: nowrap;
}
.skillGrid {
    display: grid;
    grid-template-columns: repeat(2, 350px); /* Increase width of grid cells */
    grid-template-rows: repeat(3, 100px);
    grid-column-gap: 100px;
    grid-row-gap: 20px;
}
.skillGrid > div {
    text-align: center;
}
/*.skillGrid > div:nth-child(1) {
    background-color: #ff0000; !* Red *!
}

.skillGrid > div:nth-child(2) {
    background-color: #00ff00; !* Green *!
}

.skillGrid > div:nth-child(3) {
    background-color: #0000ff; !* Blue *!
}
.skillGrid > div:nth-child(4) {
    background-color: #ffa805; !* Blue *!
}

.skillGrid > div:nth-child(5) {
    background-color: #354435; !* Blue *!
}
.skillGrid > div:nth-child(6) {
    background-color: #fa734a; !* Blue *!
}*/
@media screen and (max-width: 600px) {
    .skillGrid {
        grid-template-columns: repeat(1,400px); /* 1 column */
        grid-template-rows: repeat(6, 60px); /* 6 rows */
        grid-column-gap: 0; /* Remove column gap */
        grid-row-gap: 8px;

    }
}
.skillRate {
    width: 100%;
    height: 20px;
    background-color: grey;
    border: 1px solid black;
    border-radius: 10px; /* To create a rounded appearance */
}
#htmlPercentage{
    width: 90%;
    height: 20px;
    background-color: #ff0000;
    border: 1px solid black;
    border-radius: 10px; /* To create a rounded appearance */
}
#cssPercentage {
    width: 50%;;
    height: 20px;
    background-color: #007bff;
    border: 1px solid black;
    border-radius: 10px; /* To create a rounded appearance */

}
#jsPercentage{
    width: 70%;
    height: 20px;
    background-color: #fff608;
    border: 1px solid black;
    border-radius: 10px; /* To create a rounded appearance */
}
#javaPercentage{
    width: 70%;;
    height: 20px;
    background-color: #08ffdd;
    border: 1px solid black;
    border-radius: 10px; /* To create a rounded appearance */
}
#mysqlPercentage{
    width: 90%;
    height: 20px;
    background-color: #ffa4a4;
    border: 1px solid black;
    border-radius: 10px; /* To create a rounded appearance */
}
#pythonPercentage{
    width: 63%;
    height: 20px;
    background-color: #ff00f8;
    border: 1px solid black;
    border-radius: 10px; /* To create a rounded appearance */
}