#leftAsideSkill {
    top: 0;
    left: 0;
    height: 100vh; /* Adjusted to 100vh */
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:red ;
    text-align: justify; /* Justify the text content */
    position: absolute;
}
#rightAsideSkill {
    top: 0;
    right: 0;
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color:blue ;*/
    text-align: justify; /* Justify the text content */
    position: absolute;
}
#thirdPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tpcMySkills {
    transform: rotate(-90deg);
    text-align: justify;
    white-space: nowrap;
}
.skillGrid {
    display: grid;
    grid-template-columns: repeat(2, 350px); /* Increase width of grid cells */
    grid-template-rows: repeat(3, 200px); /* Increase height of grid cells */
    grid-column-gap: 100px;
    grid-row-gap: 20px;
}